@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
 padding: 0;
 margin: 0;
 overflow-x: hidden;
 box-sizing: border-box;
 
}
body{
 font-family: poppins;

 .navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232144;
  padding: 5px;
  font-family: poppins;
  color: whitesmoke;
  padding-left: 100px;
  padding-right: 100px;
  .logo{
   font-size: 35px;
   font-weight: 400;
   font-family: poppins;
  }
  .menuContent{
   display: flex;
   flex-direction: row;
   font-size: 20px;
   gap: 70px;
   a{
    text-decoration: none;
    color: whitesmoke;
    font-weight:400;
    &:hover{
     color: #239897;
    }
   }
  }
  @media screen and (max-width:900px){
   .menuContent{
    display: none;
   }
   .burgerMenu{
    display: block;
   }

  }
  .xIcon{
   padding: 0;
   margin: 0;
   display: none;
   cursor: pointer;
   font-size: 40px;
   color: #239897;
  }
  .burgerMenu{
   line-height: 10px;
   display: none;
   cursor: pointer;
   .min{
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: 100px;
    font-weight: 200;
    color: #239897;
   }
  }
 }

 @media screen and (max-width:900px){
  .navigation{
   padding-left: 20px;
   padding-right: 20px;
  }
 }

 .navigationPopup{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  gap: 30px ;
  padding: 20px;
  background-color: #232144;
  margin-bottom: -3px;
  
  h4{
   a{
    text-decoration: none;
    color: whitesmoke;
    font-weight:400;
    justify-content: center;
   
   }
  }
  hr{
   color: #239897;
   width: 60%;
   margin: auto;
   border: #239897 solid 1px;
  }
 }
 @media screen and (max-width:400px){
    .navigationPopup{
        margin-bottom: -10px;
    }
    
}

 














 .photonav {
    width: 100%;
}


.countainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 30px;
    margin-top: 4%;
    margin-bottom: 6%;
    
}
    }
    .content {
        display: flex;
        justify-content: space-between;
        // gap: 400px;
        align-items: center;
        margin-bottom: 10%;
        .Box_illu{
            width: 44%;
            height: auto;
        .illustration{
            width: 100%;
        }
    }
        form{
           input{
               width: 100%;
               padding: 15px 30px;
               margin: 12px 0px;
               border-radius: 30px;
               outline: none;
           }
           

.Btn{
    font-size: 21px;
           font-weight: normal;
           cursor: pointer;
           color: #ddd;
           border: none;
           letter-spacing: 1px;
           background: linear-gradient(45deg,#00BBF6,#00C5E3,#00CBD7,#00D4C8,#00DBBB);
}
           
        }
    }

    @media screen and (max-width:1100px){
        .navigation{
            margin-bottom: -8px;
        }
        .countainer{
            h1{
                font-size: 17px;
            }
        .content {
            display: flex;
            flex-direction: column;
            

            form{
                label{
                    font-size: 10px;
                }
                input{
                    padding: 8px 0px;
                    margin: 6px 0px;
                }
            }

    }

}
    }




























 .ftrContainer{ 
  display: flex;
  flex-direction: row;
  justify-content: center ;
  gap: 200px;
  background-color: #232144;
  padding-top: 100px;
  padding-bottom: 40px;
  margin-top: -7px;
  color: whitesmoke;
  .page{
      display: flex;
      flex-direction: column;
      .elemContainer{
          padding-top: 30px;
          display: flex;
          flex-direction: row;
          gap: 20px;
          .logos{
              display: flex;
              flex-direction: column;
              gap: 20px;
           }
          .textLogos{
            display: flex;
            flex-direction: column;
            gap: 26px;
           }

       }
   }
  .connect{
      display: flex;
      flex-direction: column;
      .elemContainer{
          padding-top: 30px;
          display: flex;
          flex-direction: row;
          gap: 20px;
          .logos{
              display: flex;
              flex-direction: column;
              gap: 20px;
           }
          .textLogos{
            display: flex;
            flex-direction: column;
            gap: 26px;
           }

       }
   }
  .contact{
      display: flex;
      flex-direction: column;
      .elemContainer{
          padding-top: 30px;
          display: flex;
          flex-direction: row;
          gap: 20px;
          .logos{
              display: flex;
              flex-direction: column;
              gap: 20px;
           }
          .textLogos{
            display: flex;
            flex-direction: column;
            gap: 53px;
          }

      }
   }
 }
 @media screen and (max-width:900px){
  .ftrContainer{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap: 80px;
   .page{
    display: none;
   }
  }
 }
}